<% include ../shared/header%>
<div class='col-lg-6'>
  <form action='/tasks/addTask' method='post' novalidate>
    <div class="form-group">
      <label for="title">Task Title</label>
      <input type="text" class="form-control <%= (errors.title ? 'is-invalid' : '')%>" name='title' id="title"  placeholder="Task Title" />
      <span class="invalid-feedback"><%=errors.title%></span>
    </div>
    <div class="form-group">
      <label for="description">Task Description</label>
      <input type="text" class="form-control <%= (errors.description ? 'is-invalid' : '')%>" name="description" id="description"  placeholder="TaskDescription">
      <span class="invalid-feedback"><%=errors.description%></span>
    </div>
    <div class="form-group">
      <label for="resourceURL">Resource URL</label>
      <input type="text" class="form-control" name='resourceURL' id="resourceURL"  placeholder="Resource URL">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<% include ../shared/footer%>