<% include ../shared/header%>
<div class='row'>
    <ul class='form-group'>
        <li class='form-group-list'>List 1</li>
        <li class='form-group-list'>List 2</li>    
    </ul>
</div>

<% include ../shared/footer%>